streamlit
requests
beautifulsoup4
python-docx
reportlab
arabic-reshaper
python-bidi
langchain
langchain-core
langchain-community
langchain-huggingface
sentence-transformers
faiss-cpu
pypdf
groq
fpdf2
